.popup-overlay.hidden{
    display: none;
}
.popup-overlay{
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.popup-content{
    display: flex;
    max-width: 50%;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 125, 78);
    padding: 20px 0;
    border-radius: 15px;
}
.exit-button{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 2em;
    width: 2em;
    border-radius: 25px;
    background-color: rgba(250, 11, 3, 0.76);
    border: 1px solid red;

}
.exit-button:hover{
    background-color: grey;
    border: 1px solid grey;
}
.disclaimer-p{
    max-width: 75%;
}