.draft{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.top-input, .middle-input, .bottom-area, .tonnage-input{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.top-input{
    display: none;
}
.top-input.active{
    display: flex;
}
.fwa, .observed-salinity{
    margin:0.5em 0
}
.bottom-area{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}
.bottom-calcs{
    margin-top: 0.5em;
}
.button-area{
    margin-bottom: 0.5em;
}
.button-area, .bottom-calcs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
}
.inline, .inline-ftin, .inline-fwa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.inline-fwa{
    gap: 0.1em;
}
.inline{
    flex-wrap: wrap;
}

.title{
    width: 5.5rem;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.grid{
    display: grid;
    column-gap: 1vw;
    row-gap: 2vw;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.grid-title{
    display: flex;
    justify-content: center;
}

.fourDrafts{
    display:none;
}
.fourDrafts.active{
    display: flex;
}
.unit-imperial{
    display: flex;
}
.unit-imperial.hidden{
    display: none;
}
.unit-metric{
    display: none;
}
.unit-metric.active{
    display: flex;
}
.spacer{
    width: 1em;
    text-justify: right;
}
.divider{
    border-bottom: 1.5px solid black;
}