.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}
.top-input, .middle-input, .bottom-area, .tonnage-input{
    padding: 1em;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.bottom-area{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}
.button-area, .bottom-calcs{
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.5em;
}
.inline, .inline-ftin, .inline-fwa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.inline-fwa{
    gap: 0.1em;
}
.inline{
    flex-wrap: wrap;
}

.title{
    width: 5.5rem;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.grid{
    display: grid;
    column-gap: 1vw;
    row-gap: 2vw;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.grid-title{
    display: flex;
    justify-content: center;
}