/* Grid Formatting */
.grid-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;

}
/* Grid Layout  */
.grid-item{
    display: flex;
}
.grid-container{
    width: 90%;
    display: flex;
    flex: 1;
    justify-content: center;
}
.grid-main-field{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);   
    grid-column: 2/span 2;
    grid-row: 2/span 3;
    column-gap: 1em;
    row-gap: 0.5em;
    padding: 1em;
    justify-content: space-around;
}


/* Grid Styling */
.grid-draft{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: clamp(45px, 40%, 50%);
}
.grid-bottom-content{
    margin-top: 2em;
    margin-bottom: 1em;
}
.grid-result-row{
    grid-column: 1/span 3;
    grid-row: 5/span 1;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    gap: 1em;
}
.tonTG-TPI{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.draft-tons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.max-tonnage{
    grid-column: 1/span 3;
    grid-row: 5/span 1;
    display: flex;
    justify-content: center;
    padding: 1em;
}
.tonTG{
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

}
.tpi{
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
   
}




